.main__checkout-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 40px;
    }
    
}

.main__checkout-form{
    height: 100%;
    width: 60%;
    border: 1px solid black;
    background-color: rgba(239, 239, 239, 0.5);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: black;
    font-size: 40px;
    padding: 30px 20px;
    input{
        padding: 10px 30px;
        background-color: gray;
    }
}

.main__checkout-text-input{
    width: 80%;
}

.main__checkout-button{
    padding: 10px 10;
    margin-top: 50px;
}

.main__checkout-last-option{
    padding-bottom: 40px;
}